@import 'normalize.css';

:root {
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    margin-top: 4px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.dataGridEditBtn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.dataGridDeleteBtn {
    color: red;
    cursor: pointer;
}
