.topbar {
    width: 100%;
    height: 60px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 28px;
    color: darkblue;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
    .user {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        .user-name {
            padding: 0 12px;
            color: var(--white);
            font-size: 1.6rem;
            user-select: none;
            color: black;
        }
        .avatar {
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .dropdown-user {
            width: 200px;
            border-radius: 4px;
            background-color: var(--white);
            position: absolute;
            top: 100%;
            left: 0px;
            margin-bottom: -12px;
            padding: 10px;
            margin-top: 10px;
            z-index: 99;
            transition: all 0.3s linear;
            .item {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 2px 4px 2px 8px;
                &.separate {
                    border-bottom: 1px solid #e5e5e5;
                    margin: 9px 0;
                }
                // svg {
                //     color: #333;
                //     font-size: 1.6rem;
                //     margin-right: 4px;
                // }
                &:hover {
                    color: #262626;
                    text-decoration: none;
                    background-color: #f5f5f5;
                }
                .item-link {
                    color: var(--text-color);
                    &:hover {
                        color: #262626;
                    }
                }
            }
        }
    }
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;

    svg {
        font-size: 26px;
    }
}

.topIconBadge {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -5px;
    right: -4px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
