.transactionList {
    flex: 4;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

._loading_overlay_overlay {
    color: black;
    background-color: white;
}

._loading_overlay_spinner {
    background-color: black;
}
